{% extends 'base.html' %}

{% block title %}Профиль студента{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card" style="background-image: url('/static/images/trophy-background.jpg'); background-size: cover; color: white;">
        <div class="card-body text-center">
            <h2 class="card-title">{{ student.name }} {{ student.surname }} {{ student.patronymic }}</h2>
            <img src="{{ url_for('static', filename='profile_pics/' + student.username + '/profile.jpg') }}" class="img-fluid rounded-circle mb-3" alt="Profile Picture" style="width: 150px; height: 150px;">
            <p>Класс: {{ student.grade }}</p>
            <p>Email: {{ student.email }}</p>
            <p>Телефон: {{ student.phone }}</p>
            <p>Оценка: {{ student.score }}</p>
            <a href="{{ url_for('olympiads') }}" class="btn btn-light">Записаться на олимпиады</a>
        </div>
    </div>
</div>
{% endblock %}
