{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Регистрация студента</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="mb-3">
            {{ form.surname.label(class="form-label") }}
            {{ form.surname(class="form-control") }}
            {% for error in form.surname.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="mb-3">
            {{ form.patronymic.label(class="form-label") }}
            {{ form.patronymic(class="form-control") }}
            {% for error in form.patronymic.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="mb-3">
            {{ form.grade.label(class="form-label") }}
            {{ form.grade(class="form-control") }}
            {% for error in form.grade.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control") }}
            {% for error in form.phone.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.score.label(class="form-label") }}
            {{ form.score(class="form-control") }}
            {% for error in form.score.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
